<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/about.css">
    <title>Информация</title>
</head>

<header>
    <nav>
        <img id="logo" src="../assets/photo/Логотип GoSmart.png" alt="Логотип"> <!--200x200 px-->
        <ul class="but">
            <li><a href="/">Товары</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>
        <ul class="korz">
            {{ if .Username }}
                <li>Привет, {{ .Username }}!</li>
                {{ if eq .Role "admin" }}
                    <li><a href="/admin">Админка</a></li>
                {{ end }}
                <li><a href="/logout">Выход</a></li>
            {{ else }}
                <li><a href="/registration"><img id="ProfileWhite" src="../assets/photo/ProfileWhite.png" alt="Профиль"></a></li>
                <li><a href="/login">Вход</a></li>
            {{ end }}
        </ul>
    </nav>
</header>

<body>
    <h1>О нас</h1>
Добро пожаловать в наш интернет-магазин электроники GoSmart! Мы специализируемся на продаже высококачественной электроники по заявкам, предлагая нашим клиентам широкий ассортимент товаров, от новейших гаджетов до необходимых аксессуаров.<br>
    <h1>Наша миссия</h1>
Наша главная цель — предоставить вам лучший опыт покупок, предлагая только проверенные и надежные продукты. Мы понимаем, что технологии играют важную роль в вашей жизни, и стремимся обеспечить вас всем необходимым для комфортного и эффективного использования электроники.<br>
    <h1>Почему выбирают нас?</h1>
Индивидуальный подход: Мы ценим каждого клиента и готовы предложить персонализированные решения, соответствующие вашим потребностям.
Широкий ассортимент: У нас вы найдете все — от смартфонов и ноутбуков до бытовой техники и аксессуаров.
Качество и надежность: Мы работаем только с проверенными производителями, чтобы гарантировать высокое качество каждой покупки.
Удобство заказа: Легкий процесс оформления заказа и быстрая доставка позволяют вам получать желаемые товары в кратчайшие сроки.<br>
    <h1>Наша команда</h1>
Наша команда состоит из опытных специалистов, которые всегда готовы помочь вам с выбором и ответить на любые вопросы. Мы следим за последними тенденциями в мире технологий и постоянно обновляем наш ассортимент, чтобы предложить вам самые актуальные решения.<br>
    <h1>Свяжитесь с нами</h1>
Если у вас есть вопросы или пожелания, не стесняйтесь обращаться к нам. Мы всегда рады помочь вам! Спасибо, что выбрали наш интернет-магазин электроники. Мы надеемся сделать ваши покупки приятными и удобными! 
    
</body>

<footer class="footer">
    <p>2024 Интернет Магазин. Все права защищены.</p> 
</footer>
</html>